:root {
    --blue: #50a1ff;
    --indigo: #6610f2;
    --purple: #926dde;
    --pink: #e83e8c;
    --red: #ff4954;
    --orange: #ffbe00;
    --yellow: #ffba00;
    --green: #3cd458;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #50a1ff;
    --secondary: #e9ecf0;
    --success: #3cd458;
    --info: #926dde;
    --warning: #ffba00;
    --danger: #ff4954;
    --light: #f8f9fa;
    --dark: #191919;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: 'Dosis', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/* custom-navbar.css */

/* Custom Navbar Styles */
.navbar-stick-dark {
    background-color: var(--dark);
    padding: 1rem 0;
}

.navbar-toggler {
    border: none;
}



.navbar-brand img {
    height: 50px;
}

.nav-link {
    color: #f8f9fa !important;
    padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--primary);
}

.navbar-divider {
    display: none;
}

.btn-round {
    border-radius: 50px;
}

.btn-outline-success {
    color: var(--success);
    border-color: var(--success);
}

.btn-outline-success:hover {
    background-color: var(--success);
    color: var(--white);
}

@media (max-width: 991px) {
    .navbar-divider {
        display: block;
    }
}
